<div class="eyu100-main main-articlePage">
    <div class="main-centerSection">

        <div class="public-crumbsBlock">
            <a href="/" class="link">首页</a><i class="arrow">&gt;</i><span class="unlink">公告列表</span>
        </div>
        <div class="ap-mainB">
            <div class="mb-l ap-articleList">
                <div class="public-articleList al-listB">
                    <div class="al_listBlock" id="list">
                        <ul>

                            {{if notices}}
                                {{each notices.data list}}
                                <li>
                                    <a href="/notice/detail-{{@list.id}}.html" class="sort">【公告】</a>
                                    <a href="/notice/detail-{{@list.id}}.html" class="title">
                                        {{@limitFontNumber(list.title, 35)}}
                                    </a>
                                    <span class="date">{{@formatDateTime(list.createDate,"yyyy.MM.dd hh:mm")}}</span>
                                    <span class="text">鳄鱼彩票</span>
                                </li>
                                {{/each}}
                            {{else}}
                                <li style="text-align: center; color: #999; font-size: 14px; width: 100%;">暂无更多公告</li>
                            {{/if}}

                        </ul>
                    </div>

                    {{if pageCount >1}}
                       {{@ pageCount | page pageIndex }}
                    {{/if}}

                </div>
            </div>

            {{ include '../template/components/articleLottery_2.component.art' }}

        </div>

        <!--相关推荐-->
        {{ include '../partials/recommend.html' }}


    </div>
</div>


<script>
    var pathArray = [
        'core/views/containers/notice/index.container'
    ];

    require(pathArray, function(callback) {
        callback.initialize('{{@lotteryCode}}', true);
    })
</script>