<div class="eyu100-main main-lotteryYiLouPage" id="mainContainer"  max-period="{{@maxPeriod}}" data-lotteryCode="{{@lotteryCode}}"  data-flot={{@flot}}>
    <div class="main-centerSection">
        <div class="public-lotteryLatestInfo">
            {{ include '../template/components/lotteryTimer.component.art' }}
        </div>
        <!--分布走势-->
        <div class="lyl-trendPage">
            <!--功能集合-->
            <div class="public-allFunBlock">

                <!--tab切换栏-->
                {{@commonTab( 1, lotteryCode, [chartDefultFlot, '', shddDefultFlot, hmtjDefultFlot] ) }}

                <!--遗漏图表-->
                <div class="afb-contentB" id="omissionTrend">
                    {{if omission}}
                    {{ each omission trendItem}}
                    <div class="liB">
                        <h2 class="title">{{trendItem.name}}：</h2>
                        <div class="nameBlock">
                            {{if trendItem.child}}
                            {{ each trendItem.child trendChild idx}}
                            <a target="_blank" href="/omission/{{lotteryCode}}/{{trendChild.code}}" class="name {{if trendChild.children }}{{if trendChild.children.length > 0 }}third{{/if}}{{/if}}
                                 {{ if threeLevel}}
                                    {{if threeLevel.code}}
                                        {{threeLevel.code == trendChild.code ? 'active': ''}}
                                    {{/if}}
                                 {{else}}
                                    {{ trendChild.code == flot ? 'active': ''}}
                                 {{/if}}
                            ">
                                {{trendChild.name}}
                            </a>
                            {{ if idx !== trendItem.child.length -1 }}
                            <i class="line">|</i>
                            {{ /if }}
                            {{ /each }}
                            {{/if}}
                        </div>
                    </div>
                    {{ /each }}
                    {{/if}}
                </div>
            </div>


            {{if threeLevel}}
            <div class="lt-thirdMenuB">
                <span class="menuText">{{threeLevel.parentName}}&gt;{{threeLevel.name}}：</span>
                <div class="menuNameB">
                    {{if threeLevel.children}}
                    {{each threeLevel.children  threeLevelChild}}

                    <a class="public-btnBlock public-float-left {{threeLevelChild.code == flot ? 'active': ''}} " href="/omission/{{lotteryCode}}/{{threeLevelChild.code}}">{{threeLevelChild.name}}</a>

                    {{/each}}
                    {{/if}}
                </div>
            </div>
            {{/if}}


            <div class="statistics-tableBlock" id="areaContainer">

                {{ include '../template/omission/omissionChart.component.art' }}

            </div>


            <!--参数说明-->
            <div class="lt-explainBlock">
                <div class="elb-titleB"><i class="icon"></i><span class="text">遗漏参数说明</span></div>
                <div class="elb-contentB">
                    {{@helpConfig}}
                </div>
            </div>
        </div>
        <!--相关推荐-->


    </div>
</div>


<script type="text/javascript">
    var pathArray = [
        'core/views/containers/omission/omissionChart.container'
    ];

    require(pathArray, function(callback) {
        callback.initialize( '{{@lotteryCode}}', '{{@lotteryClassify}}', {{@flot}}, '{{@classify}}', {{@isAwarding}}, {{@nowPeriod}}, {{@stype}}, '{{@number}}');

        callback.initHighCharts({{@omissionString}}, {{@stype}});
    })
</script>



