<!--中间独立-->
<div class="eyu100-main main-articlePage">
	<div class="main-centerSection">
		<!--面包屑-->
		<div class="public-crumbsBlock">
			<a href="/" class="link" target="_blank">鳄鱼彩票</a>
			<i class="arrow">&gt;</i>
			{{if lotteryCode}}
			  <a href="/{{@lotteryType}}/{{@lotteryCode}}" target="_blank" class="link">{{@lotteryName}}开奖页</a>
			  <i class="arrow">&gt;</i>
			{{/if}}
			<a href="{{lastPage}}" class="link" target="_blank">{{lotteryName}}提点</a>
			<i class="arrow">&gt;</i><span class="unlink">{{data.point.title}}</span>
		</div>
		<div class="ap-mainB">
			<div class="mb-l ap-articleDetails">
				<div class="ad-titleB">
					<h1 class="ti_b">{{if data.point}}{{data.point.title}}{{/if}}</h1>
					<div class="ti_z">
						<span class="z_au">
							<i><a href="/" target="_blank" style="color: #999;">鳄鱼彩票</a></i>
							{{@ data.point.createTime | pointTime2}}
						</span>
					</div>
				</div>
				<div class="ad_listB" >
					{{if data.point}}
					
					{{if data.point.groupId == 4}}
					{{each data.detail.comList item}}
					<p class="lb_tit">{{item.type}}出号走势<span>（统计{{if data.point.type == 1}}{{data.point.createTime | pointDate}}{{else}}当天14:00之前{{/if}}）</span></p>
					<div class="lb_tab">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
                                <td width="10%">号码</td>
                                {{@ headerCount | pointHeader data.point.groupId}}
                            </tr>
							{{@ item.list | pointDetailContent}}
						</table>
					</div>
					{{/each}}
					
					<p class="text">说明：红色标识为标识热号，绿色标识为冷号，灰色标识为温号</p>
					{{else}}
					<p class="lb_tit">{{if data.point.type == 1}}号码次数多日统计{{else}}号码分析<span>（统计当天14:00之前）</span>{{/if}}</p>
					<div class="lb_tab">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
                                <td width="10%">号码</td>
                                {{@ headerCount | pointHeader data.point.groupId}}
                            </tr>
                            {{if data.point.type == 1}}
							{{@ data.days | pointDaysConent data.point.groupId lotteryCode}}
							{{else}}
							{{@ data.detail.totalList | pointDetailContent}}
                            {{/if}}
						</table>
						<p class="text">说明：红色标识为标识热号，绿色标识为冷号，灰色标识为温号</p>
					</div>
					{{/if}}
					
					<p class="ac_tit">号码统计分析：</p>
					{{if data.point.groupId == 4}}
						<div class="ac_con">
							<p>{{if data.point.type == 1}}昨天{{else}}今天{{/if}}一星最热号码为：{{oneHot}}，最冷号码为：{{oneCool}}</p>
							<p>二星最热号码为：{{twoHot}}，最冷号码为：{{twoCool}}</p>
							<p>三星最热号码为：{{threeHot}}，最冷号码为：{{threeCool}}</p>
						</div>
					{{else}}
					
						{{if data.point.type == 1}}
						<div class="ac_con">
							<p>昨天最热号码为：{{lastDayHot}}，最冷号码为：{{lastDayCool}}</p>
							<p>5天统计最热号码为：{{lastFiveDayHot}}，最冷号码为：{{lastFiveDayCool}}</p>
						</div>
						{{else}}
						<div class="ac_con">
							<p>今天出现最热号码为：{{toDayHot}}，最冷号码为：{{toDayCool}}</p>
							<p>最大遗漏号码为：{{maxForget}}</p>
							<p>最大连出号码为：{{maxEven}}</p>
						</div>
						{{/if}}
					{{/if}}
                    <p class="ac_tit">综上精选号码推荐：</p>
					<div class="ac_con">
                        {{each data.detail.recommend item}}
                            <p>{{item.name}}：{{each item.content num}}{{num}}；{{/each}}</p>
                        {{/each}}
                    </div>
                    {{/if}}
				</div>
				
                {{ include '../template/components/share.component.art' }}
				<div class="ad-pag">
					<span class="pa_l">
						{{if data.around && data.around.per}}
						<i>上一篇：</i><a href="/point/detail-{{data.around.per.id}}.html">{{data.around.per.title}}</a>
						{{else}}
						上一篇：没有了
						{{/if}}
					</span>
					<span class="pa_r">
						{{if data.around && data.around.next}}
						<i>下一篇：</i><a href="/point/detail-{{data.around.next.id}}.html">{{data.around.next.title}}</a>
						{{else}}
						下一篇：没有了
						{{/if}}
					</span>
				</div>
				{{ include '../template/components/articleTec.component.art' }}


				<!--  热门文章和猜你喜欢模块 -->
				{{ include '../template/components/articleHotAndGuessesYouLike.component.art' }}


			</div>
            {{ include '../template/components/articleLottery_2.component.art' }}
		</div>
        {{ include '../partials/recommend.html' }}
	</div>
</div>

<script>
    var pathArray = [
        'core/views/containers/point/detail.container'
    ];

    require(pathArray, function(callback) {
        callback.initialize('{{@lotteryCode}}', false);
    })
</script>