<div class="vd-video" style="height: 630px;width: 980px;" id="livePlay">

    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100%" height="100%">
        <param name="quality" value="high">
        <param name="wmode" value="transparent">
        <param name="align" value="center">
        <param name="quality" value="high">
        <param name="movie" value="{{@cdnUrl}}/flash/{{@lotteryCode}}/{{@lotteryCode}}.swf">
        <param name="flashvars" value="pagetype=2&amp;period=&amp;counter=1&amp;lotterycode={{@lotteryCode}}&amp;host={{@website.pcSiteUrlTwo}}&amp;ver=20180615">
        <embed src="{{@cdnUrl}}/flash/{{@lotteryCode}}/{{@lotteryCode}}.swf?ver=20180615" width="100%" height="100%" align="center" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" flashvars="pagetype=2&amp;period=&amp;counter=1&amp;host={{@website.pcSiteUrlTwo}}&amp;lotterycode={{@lotteryCode}}&amp;ver=20180615">
    </object>

</div>