<!--全局footer-->
<div class="eyu100-footer">
    <div class="f-menu">
        <div class="main-centerSection">
            <dl>
                <dt class="icon1"><sapn></sapn>关于我们</dt>
                <!-- <dd><a href="/about" target="_blank" rel="nofollow">关于鳄鱼</a></dd>
				<dd><a href="/about/aboutVideo" target="_blank" rel="nofollow">关于开奖视频</a></dd> -->
                <dd><a href="#" rel="nofollow">免责声明</a></dd>
                <dd><a href="/about/legalNotices" rel="nofollow">法律声明</a></dd>
                <dd><a href="/help" rel="nofollow">帮助中心</a></dd>
            </dl>
            <dl>
                <dt class="icon2">相关产品</dt>
                <dd><a href="#" rel="nofollow">网站地图</a></dd>
                <dd><a href="#" rel="nofollow">开奖调用</a></dd>
            </dl>
            <dl>
                <dt class="icon3">品牌优势</dt>
                <dd><a href="#">十八年专业保证</a></dd>
                <dd><a href="#">千余员工倾力奉献</a></dd>
                <dd><a href="#">绝对精准数据获取</a></dd>
                <dd><a href="#">尊贵品牌服务</a></dd>
            </dl>
            <dl class="border">
                <dt class="icon4">在线客服</dt>
                <dd><span>国内：</span><span>400-654-9200</span></dd>
                <dd><span>境外：</span><span>00852-62104572</span></dd>
                <dd><span>12小时尊贵服务</span></dd>
                <dd><span>平常日</span><span>9:30-凌晨02：00</span></dd>
                <!-- <dd><a href="/about/advice" target="_blank" target="_blank" rel="nofollow">意见及建议</a></dd>
                <dd><a href="/rule" target="_blank">玩法规则</a></dd> -->
            </dl>
            <!-- <dl class="border">
                <dt class="icon3">商务合作</dt>
                <dd><a href="/about/aboutVideoCall" target="_blank" rel="nofollow">开奖视频调用</a></dd>
			</dl> -->
            <p class="copyright">
                <br>鳄鱼网&nbsp;&nbsp;&nbsp;版权所有&nbsp;©2018&nbsp;&nbsp;&nbsp;粤ICP备18040841号
            </p>
        </div>
    </div>
    <!-- <div class="f-info"> -->
    <!-- <div class="main-centerSection"> -->
    <!-- <div class="supervise"> -->
    <!-- <a target="_blank" href="//v.pinpaibao.com.cn/cert/site/?site=www.2cp.com&at=business"><img src="//static.anquan.org/static/outer/image/hy_124x47.png" /></a>
                <a target="_blank" href="//si.trustutn.org/info?sn=595180510035510507845&certType=1"><img src="https://v.trustutn.org/images/cert/bottom_small_img.png" /></a> -->
    <!-- <a href="#"><img src="//v.trustutn.org/images/cert/bottom_small_img.png"/></a> -->
    <!-- </div> -->
    <!-- <div class="supervise">
				<a href="#" target="_blank" rel="nofollow"><img src="{{cdnUrl}}/pic/supervise/img1.png" alt="经营性网站备案信息"></a>
				<a href="#" target="_blank" rel="nofollow"><img src="{{cdnUrl}}/pic/supervise/img2.png" alt="网络110报警服务"></a>
				<a href="#" target="_blank" rel="nofollow"><img src="{{cdnUrl}}/pic/supervise/img3.png" alt="不良信息举报中心"></a>
				<a href="#" target="_blank" rel="nofollow"><img src="{{cdnUrl}}/pic/supervise/img4.png" alt="中国电子商务协会"></a>
			</div> -->
    <!-- <div class="copyright"> -->
    <!-- <a href="/about">公司简介</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/about">联系方法</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
					href="/about/legalNotices">法律声明</a><br>鳄鱼网版权所有&nbsp;©2018&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/"> 备案号：粤ICP备18040841号</a> -->
    <!-- <div class="copyright"> -->
    <!-- <a href="/about">公司简介</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/about" rel="nofollow">联系方法</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/map">网站地图</a>
					&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/about/legalNotices" rel="nofollow">法律声明</a> -->
    <!-- <br>鳄鱼网&nbsp;&nbsp;&nbsp;版权所有&nbsp;©2018&nbsp;&nbsp;&nbsp;粤ICP备18040841号 -->
    <!-- </div>
            </div>
        </div>
    </div> -->
    <div style="display: none;">
        <!-- <script type="text/javascript" src="//trusted.shuidi.cn/trusted.js?id=2143&jump=0&style=1"></script> -->
        <script src="//s22.cnzz.com/z_stat.php?id=1273981702&web_id=1273981702" language="JavaScript"></script>
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?d91e57cd40b7e54a78336e564e522103";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script>
            (function() {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                } else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script>
        <!-- <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    </div>
</div>