<div class="eyu100-main main-articlePage">
    <div class="main-centerSection">

        <!--热点导航-->
        {{ include '../template/components/articleHotNav.component.art' }}


        <!--面包屑-->
        <div class="public-crumbsBlock">
            <a href="/article" class="link">彩票资讯</a><i class="arrow">&gt;</i><h1 class="unlink">{{@type}}</h1>
        </div>
        <div class="ap-mainB">
            <div class="mb-l ap-articleList">
                <div class="al-btnB" id="listTab">
                    {{@renderArticleTab(classifyCode, articleClassify,categoryId)}}
                </div>
                <div class="public-articleList al-listB">
                    <div class="al_listBlock">
                        <ul>
                            {{if articleList}}
                                {{if articleList.data}}
                                    {{each articleList.data  list}}
                                        <li>
                                            <a href="/article/detail-{{@list.categoryId}}-{{@list.id}}.html" class="title" title="{{@list.title}}" target="_blank">{{@((list.shortTitle!=null && list.shortTitle.length>0)?list.shortTitle:list.title)}}</a>
                                            <span class="date">{{@formatDateTime(list.createDate,"yyyy.MM.dd hh:mm")}}</span>
                                            <span class="text">鳄鱼彩票</span>
                                        </li>
                                    {{/each}}
                                {{else}}
                                   <li style="color: #999; text-align: center;">没有任何资讯</li>
                                {{/if}}
                            {{else}}
                            <li style="color: #999; text-align: center;">没有任何资讯</li>
                            {{/if}}
                        </ul>
                    </div>

                    {{if pageCount >1}}
                       {{@ pageCount | page pageIndex }}
                    {{/if}}

                </div>

            </div>

            {{ include '../template/components/articleLottery_2.component.art' }}

        </div>

        <!--相关推荐-->
        {{ include '../partials/recommend.html' }}

    </div>
</div>

<script>
    var pathArray = [
        'core/views/containers/article/list.container'
    ];

    require(pathArray, function(callback) {
        callback.initialize('{{@lotteryClassify}}', true);
    })
</script>